<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction</title>
</head>
<body>

<h1>Hello, welcome to my unique controller portfolio!</h1>
<p>My name is Robin. I'm mostly self-taught and I have knowledge in Python, Java, JavaScript, and HTML. Here, I will provide projects that you will be able to scroll through using the buttons below!</p>
<p>Thank you for reading! Enjoy!</p>

</body>
</html>